.oh-faq {
  background-color: $brand-color;
  border: 1px solid $border-color;
  border-radius: 8px;
}

.oh-faq__items {
  padding-left: 0;
  list-style: none;
}

.oh-faq__item {
  background-color: $brand-color;
  padding: 1.5rem;
  padding-bottom: 0;
}

.oh-faq__item-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid $border-color;
}

.oh-faq__item-title {
  font-weight: bold;
  display: block;
  color: $text-color;
}

.oh-faq__item-body {
  border-bottom: 1px solid $border-color;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.oh-faq__item.oh-faq__item--show {
  &:last-child {
    .oh-faq__item-body {
      border-bottom: none;
    }
  }

  .oh-faq__item-header {
    border-bottom: none;
  }

  .oh-faq__item-body {
    padding: 1rem;
    max-height: 200px;
  }
}

.oh-faq__item:not(.oh-faq__item--show) {
  &:last-child {
    .oh-faq__item-header {
      border-bottom: none;
    }
  }
}

.oh-faq__tags {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.65rem;
  margin-top: 0.5rem;
}

.oh-faq__tag {
  padding: 0.3rem 1rem;
  background-color: $brand-color-light;
  cursor: pointer;
  color: $light-text-color;
  border-radius: 4px;
  @include oh-transition;

  &:hover {
    background-color: $brand-color-dark;
  }
}

.oh-faq__item-header__right {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.oh-faq-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 15px;
}

@media (max-width: 768px) {
  .oh-faq-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1316px) {
  .oh-faq-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.oh-faq-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $brand-color;
  border: 1px solid $border-color;
  padding: 1.5rem;
  transition: all 0.3s linear;
  border-radius: 8px;

  &:hover {
    border: 1px solid $secondary-color;
    transition: all 0.3s linear;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

.oh-faq-card__title {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: $text-color;
}

.oh-faq-card__desc {
  color: $light-text-color;
  min-height: 60px;
  margin-bottom: 1.25rem;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oh-faq__input-search {
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.oh-search_input {
  width: 100%;
}

.oh-faq_search--icon {
  position: absolute;
  top: 15px;
  left: 10px;
}

.oh-autocomplete-suggestions {
  position: absolute;
  list-style: none;
  margin: 0;
  background-color: $brand-color;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  display: none;
  border: 1px solid $border-color;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 9999;
  border-radius: 6px;
}

.oh-select-faq {
  width: 35%;
  margin: 1rem 0 2rem 0;
  height: 48px;
  padding: 0.8rem;

  &:last-child {
    margin: 1rem 0 2rem 0;
  }
}

.autocomplete-suggestion {
  padding: 1rem;
  cursor: pointer;
  color: $text-color;

  &:hover {
    background-color: $brand-color-light;
  }
}

.oh-title_faq__main-header {
  gap: 1rem;
}
