.oh-table {
  width: 100%;
  font-size: 0.85rem;
  border-collapse: collapse;
  border: 1px solid $border-color;
  background-color: $brand-color;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 991.98px) {
    display: block;
    max-width: 100vw;
    overflow-x: auto;
  }
}

.oh-table thead tr th {
  padding: 1rem 0.65rem;
  text-align: left;
  border-bottom: 1px solid $border-color;
  color: $light-text-color;
  font-weight: 500;
  background-color: $brand-color-dark;
}

.oh-table tbody tr td {
  padding: 1rem 0.65rem;
  border-bottom: 1px solid $border-color;
  color: $text-color;
}

.oh-table tbody tr {
  @include oh-transition;

  &:hover {
    background-color: $brand-color-light;
    cursor: pointer;
  }
}

.oh-table tbody {
  max-height: 400px;
  overflow-y: auto;
}

.oh-sticky-table {
  max-height: 75vh;
  overflow: auto;
  margin: auto;
  max-width: 100%;
  border: 1px solid $border-color;
  position: relative;
  border-radius: 8px;
}

.oh-sticky-table--no-highlight .oh-sticky-table__tr {
  &:hover {
    background-color: transparent;
  }
}

.oh-sticky-table--no-overflow {
  overflow-x: auto;
  overflow-y: visible;
}

.oh-sticky-table__table {
  display: table;
  position: relative;
  width: 100%;
  table-layout: fixed;
}

.oh-sticky-table__tr {
  display: table-row;
  @include oh-transition;

  &:hover {
    background-color: $brand-color-light;
    cursor: pointer;
  }
}

.oh-sticky-table__sd {
  background-color: $brand-color;
  z-index: 10 !important;
  width: 240px;
}

.oh-sticky-table__th:first-child {
  z-index: 11 !important;
}

.oh-sticky-table__th {
  z-index: 10;
  background-color: $brand-color-dark;
  padding: 0.5rem 1rem !important;
}

.oh-sticky-table__thead {
  display: table-header-group;
  font-weight: bold;
  z-index: 1;
}

.oh-sticky-table__tbody {
  display: table-row-group;
  height: 60px;
}

.oh-sticky-table__tbody--highlight {
  height: 60px;
  width: 100vw;
  background-color: rgba($secondary-color, 0.05);
  border: 1px dashed $secondary-color;
  border-left: none;
  border-right: 0;
}

.oh-sticky-table__th,
.oh-sticky-table__sd {
  position: sticky;
  background: $brand-color-dark;
  color: $text-color;
}

.oh-sticky-table__th {
  top: 0;
  border-bottom: 1px solid $border-color;
}

.oh-sticky-table__sd {
  left: 0;
  border-right: 1px solid $border-color;

  @media (max-width: 575.98px) {
    position: relative;
  }
}

.oh-sticky-table__sd,
.oh-sticky-table__td,
.oh-sticky-table__th {
  padding: 0.6rem;
}

.oh-sticky-table--fit .oh-sticky-table__sd,
.oh-sticky-table--fit .oh-sticky-table__td,
.oh-sticky-table--fit .oh-sticky-table__th {
  padding: 0.6rem;
  width: fit-content;
}

.oh-sticky-table__thead div.oh-sticky-table__th:first-child,
.oh-sticky-table__tfoot div.oh-sticky-table__th:first-child {
  left: 0;
  z-index: 1;
  border-right: 1px solid $border-color;

  @media (max-width: 575.98px) {
    position: relative;
  }
}

.oh-sticky-table__sr {
  position: sticky;
  right: 0;
  background-color: $brand-color;
  z-index: 9 !important;
  padding: 1rem;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  display: table-cell;
}

.oh-sticky-table__th--sticky {
  right: 0;
  position: sticky;
  border-left: 1px solid $border-color;
}

.oh-sticky-table__th--right {
  right: 0;
  border-left: 1px solid $border-color;
}

.oh-sticky-table__button-container {
  display: flex;
  align-items: center;
}

.oh-sticky-table__button-container > * {
  flex-shrink: 0;
}

.oh-table__editable-input:read-only {
  color: $text-color;
  background-color: transparent;
  border: none;
  height: 100%;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
  }
}

.oh-table__editable-input {
  border-radius: 6px;
  border: 1px solid $border-color;
  background-color: $brand-color-dark;
  color: $text-color;

  &:focus,
  &:focus-visible {
    outline: none;
    border-color: $secondary-color;
  }
}

.oh-table__add-column {
  min-height: 55px;
}

.oh-table__add-row {
  position: sticky;
  left: 0;
}

.oh-table__add-row-dropdown {
  bottom: 0;
  transform: translateX(50%);

  @media (max-width: 575.98px) {
    transform: translateX(0);
  }
}

.oh-table-config__close-tr,
.oh-table-config__close-th {
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $brand-color-light;
  position: absolute;
  right: 3px;
  top: 3px;
  display: none;
  color: $light-text-color;
  cursor: pointer;

  &:hover {
    background-color: $danger-color;
    color: $white;
  }
}

.oh-table-config__tr {
  &:not(:only-child) {
    &:hover {
      .oh-table-config__close-tr {
        display: flex;
      }
    }
  }
}

.oh-table-config__th {
  &:not(:only-child) {
    &:hover {
      .oh-table-config__close-th {
        display: flex;
      }
    }
  }
}

:is(.oh-table-config__th:nth-last-child(2)):is(.oh-table-config__th:nth-child(2)) {
  .oh-table-config__close-th {
    display: none !important;
  }
}

.oh-table__toggle-button {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9IiNmZmZmZmYiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTkgMTNoLTZ2NmgtMnYtNkg1di0yaDZWNWgydjZoNnYyWiI+PC9wYXRoPgo8L3N2Zz4=");
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.oh-table__toggle-button.oh-table__toggle-button--show {
  &:after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9IiNmZmZmZmYiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNNiAxMWgxMnYySDZ2LTJaIj48L3BhdGg+Cjwvc3ZnPg==");
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.oh-table__toggle-child {
  display: none;
}

.oh-table__toggle-child.oh-table__toggle-child--show {
  display: table-row;
}

.oh-table-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.oh-sticky-dropdown_btn {
  font-weight: bold;
  background: $brand-color;
  color: $text-color;
  border: transparent;
  width: 100%;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oh-sticky-table_dropdown {
  right: 0;
  width: max-content;
}

.oh-sticy-dropdown-item {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.oh-table__checkbox {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.oh-dropdown_btn-header {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
  gap: 0.4rem;
}

.oh-sticky-dropdown--header {
  position: absolute;
  z-index: 11;
  right: 0px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  border-top: 1px solid $border-color;
}

.oh-table_sticky--wrapper {
  position: relative;
}

.oh-main__more-option-toggle {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid $border-color;

  @media (max-width: 1000px) {
    display: flex;
  }
}

.oh-main_mob-toggler {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.oh-titebar-button_mob--container {
  position: relative;

  @media (max-width: 1000px) {
    position: absolute;
    min-width: 300px;
    right: 10px;
    padding: 15px;
    background: $brand-color;
    z-index: 99;
    right: 16px;
    top: 160px;
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid $border-color;

    button {
      width: 100%;
    }

    .oh-btn-group {
      width: 100%;
    }

    .oh-dropdown {
      width: 100%;
    }
  }
}

.oh-main__titlebar .oh-main__titlebar-button-container {
  @media (max-width: 1000px) {
    display: none;
  }
}

.oh-main__titlebar .show {
  display: flex;
}

.oh-main__titlebar-button-container > :first-child {
  @media (max-width: 1000px) {
    margin-left: 0px;
  }
}

.oh-sticky-table__td,
.oh-sticky-table__th,
.oh-sticky-table__sd {
  display: table-cell;
  padding: 8px 10px;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid transparent;
  vertical-align: middle;
  width: 160px;
  word-break: break-word;
}

.table-wrapper {
  position: relative;
  overflow: scroll;
  max-height: 250px;
  border: 1px solid $border-color;
  border-radius: 8px;
}

.fixed-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.fixed-table th,
.fixed-table td {
  padding: 8px 10px;
  display: table-cell;
  height: 10px;
  line-height: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid transparent;
  width: 160px;
}

.fixed-table td {
  font-size: 0.8rem;
  height: 45px;
  color: $text-color;
  display: table-cell;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid transparent;
  vertical-align: middle;
  width: 160px;
}

.lastTd {
  background-color: $brand-color !important;
}

.fixed-table th:nth-child(2),
.fixed-table td:nth-child(2) {
  position: sticky;
  left: 30px;
  background-color: $brand-color;
  z-index: 2;
  width: 100px !important;
  border-right: 1px solid $border-color !important;

  @media (max-width: 768px) {
    position: unset;
  }
}

.fixed-table th:first-child,
.fixed-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  width: 30px !important;
  background-color: $brand-color !important;
  border-right: 1px solid $border-color !important;
}

.fixed-table thead tr {
  position: sticky;
  top: 0;
  z-index: 3;
  overflow: scroll;
}

.fixed-table thead th {
  border: transparent !important;
  border-bottom: 1px solid $border-color !important;
  background-color: $brand-color-dark;
  height: 30px !important;
  font-size: 12px;
  color: $text-color;
}

.table-wrapper {
  position: relative;
  overflow: scroll;
  max-height: 500px;
  border: 1px solid $border-color;
  border-radius: 8px;
}

.add_c ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
  justify-content: space-between;

  li {
    padding: 5px 5px;
    flex-grow: 1;

    a {
      border: 1px solid $border-color;
      padding: 3px 3px;
      display: block;
      word-break: auto-phrase;
    }
  }
}

.table-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a #1a1a1a;
}

.table-wrapper::-webkit-scrollbar {
  width: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none !important;
}

.table-wrapper:hover {
  scrollbar-color: #3a3a3a;
  transition: opacity 0.3s ease;
}

@keyframes shimmer {
  0% { background-position: -100% 0; }
  100% { background-position: 100% 0; }
}

.oh-table.is-loading {
  tbody tr td,
  thead tr th {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: -webkit-fill-available;
      height: 36%;
      border-radius: 6px;
      background: linear-gradient(110deg, #2a2a2a 8%, #3a3a3a 18%, #2a2a2a 33%);
      background-size: 200%;
      animation: shimmer 1.2s infinite;
      z-index: 999;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.fixed-table.is-loading {
  tbody tr td,
  thead tr th {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: -webkit-fill-available;
      height: 36%;
      border-radius: 6px;
      background: linear-gradient(110deg, #2a2a2a 8%, #3a3a3a 18%, #2a2a2a 33%);
      background-size: 200%;
      animation: shimmer 1.2s infinite;
      z-index: 999;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.oh-modal.is-loading {
  .oh-profile__avatar {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 64px;
      z-index: 10;
      height: 64px;
      border-radius: 50%;
      background: linear-gradient(110deg, #2a2a2a 8%, #3a3a3a 18%, #2a2a2a 33%);
      background-size: 200%;
      animation: shimmer 1.2s infinite;
      z-index: 999;
    }
  }

  .oh-timeoff-modal__user {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: -webkit-fill-available;
      height: 90%;
      z-index: 10;
      border-radius: 4px;
      background: linear-gradient(110deg, #2a2a2a 8%, #3a3a3a 18%, #2a2a2a 33%);
      background-size: 200%;
      animation: shimmer 1.2s infinite;
      z-index: 999;
    }
  }
}

.oh-modal__dialog-footer .is-loading {
  .oh-btn {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: -webkit-fill-available;
      height: 100%;
      z-index: 10;
      background: linear-gradient(110deg, #2a2a2a 8%, #3a3a3a 18%, #2a2a2a 33%);
      background-size: 200%;
      animation: shimmer 1.2s infinite;
      z-index: 999;
    }
  }
}

.oh-timesheet-table {
  border: 1px solid $border-color;

  thead tr th {
    font-weight: bold;
    background-color: $brand-color-dark;
    color: $light-text-color;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    color: $text-color;
  }

  tr:hover {
    cursor: pointer;
    background-color: $brand-color-light;
  }

  .hidden-row {
    display: none;
  }

  .caret {
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .rotate {
    transform: rotate(90deg);
  }
}

.oh-timesheet {
  .oh-table {
    tr {
      th,
      td {
        padding: 0.6rem;
      }
      th {
        color: $light-text-color;
      }
    }
  }
  .accordion-header {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid $border-color;
    background-color: $brand-color;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    cursor: pointer;

    span {
      padding: 0.4rem 0;
      font-weight: bold;
      color: $text-color;
    }
  }

  .accordion {
    .accordion-body {
      padding-left: 1.5rem;
    }

    .accordion-header::before {
      content: "\25B6";
      background-position: center;
      background-repeat: no-repeat;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secondary-color;
      object-fit: contain;
      position: absolute;
      left: 8px;
    }

    .accordion-header.active::before {
      content: "\25BC";
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    border: 1px solid $border-color;
    padding: 0.6rem;
    text-align: left;
  }

  .accordion-header:hover {
    background-color: $brand-color-light;
  }

  .accordion-body {
    display: none;
  }

  .accordion-body {
    border: 1px solid $border-color;
    border-top: none;
    padding: 0.5rem;
    background-color: $brand-color-dark;
  }
}

.oh-hover-btn-table-drawer {
  position: absolute;
  top: 30px !important;
}

#pivot-container {
  border: 1px solid $border-color;
  .pvtUiCell {
    background-color: $brand-color;
    .pvtRenderer,
    .pvtAggregator {
      border: transparent;
    }
  }
}

.pvtRenderer {
  background-color: transparent !important;
}

#pivot-container .pvtColLabel,
#pivot-container .pvtRowLabel {
  font-weight: 500 !important;
}

#pivot-container .pvtTable tbody tr th,
#pivot-container .pvtTable thead tr th {
  background-color: $brand-color-dark !important;
  border: 1px solid $border-color !important;
  color: $text-color !important;
}

.pvtAxisContainer li {
  display: flex;
}

.pvtAxisContainer li span.pvtAttr {
  border-radius: 6px !important;
  flex: 1 1 auto;
  background-color: $brand-color-dark !important;
  position: relative;
  color: $text-color;
  .pvtTriangle {
    position: absolute;
    right: 8px;
  }
}

.pvtHorizList {
  .ui-sortable-handle {
    .pvtAttr {
      padding: 2px 26px 2px 8px !important;
    }
  }
}

.pvtAxisContainer,
.pvtVals {
  border: 1px solid $border-color !important;
}

.pvtRendererArea {
  padding: 0 !important;
}

#pivot-container {
  width: 100%;
  overflow-x: auto;

  .pvtTable {
    min-width: 1200px;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: $brand-color;
    table-layout: auto;
  }
}

.pvtUi {
  width: 100% !important;
}

#pivot-container .pvtUiCell .pvtAggregator,
#pivot-container .pvtUiCell .pvtRenderer {
  background-color: transparent !important;
}

.pvtAttrDropdown {
  border: 1px solid $border-color !important;
}

.pvtSearch {
  border: 1px solid $border-color !important;
  border-radius: 6px !important;
  padding: 0.6rem 1rem !important;
  color: $text-color !important;
  background-color: $brand-color-dark !important;
  margin-bottom: 4px !important;
}

.pvtFilterBox {
  padding: 16px;
  width: auto !important;
  border: 1px solid $border-color !important;
  background-color: $brand-color !important;
  border-radius: 8px !important;

  h4 {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 0 !important;
    margin-top: 0 !important;
    color: $text-color;
  }
  p {
    margin-bottom: 0 !important;
    display: flex;
    gap: 8px;
    :nth-child(1) {
      width: 100%;
      border-radius: 6px !important;
      background-color: $secondary-color;
      color: $black;
      text-decoration: none;
      font-size: 0.9rem;
      padding: 0.65rem 1rem;
      border: none;
    }
    :nth-child(2) {
      width: 100%;
      border-radius: 6px !important;
      background-color: $brand-color-light;
      color: $text-color;
      text-decoration: none;
      font-size: 0.9rem;
      padding: 0.65rem 1rem;
      border: none;
    }
    input {
      background-color: transparent !important;
    }
    button {
      border: none !important;
      margin-bottom: 4px;
    }
  }
  .pvtCheckContainer {
    p {
      :nth-child(1) {
        background-color: unset !important;
        width: auto;
        padding: 0.5rem 0 !important;
      }
      :nth-child(2) {
        background-color: transparent !important;
        width: auto;
      }
    }
  }
}

#pivot-container .pvtTable td {
  border: 1px solid $border-color !important;
  color: $text-color !important;
}

#pivot-container .pvtTable tr:nth-child(2n) td {
  background-color: $brand-color-dark !important;
  border: 1px solid $border-color !important;
}

#pivot-container .pvtTable th {
  background-color: $brand-color-dark;
  padding: 12px;
  border: 1px solid $border-color;
  font-size: 18px;
  color: $light-text-color;
}

#pivot-container .pvtTable td {
  padding: 12px;
  border: 1px solid $border-color;
  font-size: 16px;
  background-color: $brand-color;
  color: $text-color;
}

#pivot-container .pvtTable tr:nth-child(even) td {
  background-color: $brand-color-dark;
}

#pivot-container .pvtRowLabel,
#pivot-container .pvtColLabel {
  background-color: $brand-color-dark;
  font-weight: bold;
  font-size: 16px;
  color: $light-text-color;
}

#pivot-container .pvtTotalLabel {
  background-color: $brand-color-light;
  font-weight: bold;
  font-size: 16px;
  color: $text-color;
}

#pivot-container .pvtGrandTotal {
  background-color: $brand-color;
  font-weight: bold;
  font-size: 16px;
  color: $text-color;
  border-color: $border-color;
}

#pivot-container .pvtTable tbody tr th,
#pivot-container .pvtTable thead tr th {
  background-color: $brand-color-dark;
  border: 1px solid $border-color;
  font-size: 10pt;
  padding: 8px;
}

.js-plotly-icon {
  display: none !important;
}
