.oh-tabs {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
}

.oh-tabs__tablist {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0px;
  background-color: $brand-color-dark;
}

.oh-tabs__tab,
.oh-tabs__new-tab-config {
  padding: 1rem 1.25rem;
  height: 50px;
  max-height: 50px;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: $light-text-color;
  @include oh-transition;

  &:hover {
    background-color: $brand-color-light;
    color: $text-color;
  }
}

.oh-tabs__tab--active {
  background-color: $brand-color;
  color: $text-color;
  border-bottom: 1px solid transparent;
  font-weight: 600;

  &:hover {
    color: $text-color;
    background-color: $brand-color;
  }
}

.oh-tabs__tab.oh-tabs__new-tab,
.oh-tabs__new-tab-config {
  max-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $border-color;
}

.oh-tabs__tab--active {
  .oh-tabs__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.oh-tabs__tablist .oh-tabs__tab--active {
  &:first-child {
    border-left: none;
  }
}

.oh-tabs__content {
  width: 100%;
  background-color: $brand-color;
  padding: 1.25rem;
}

.oh-tabs__content {
  display: none;
}

.oh-tabs__content--active {
  display: block;
}

.oh-tabs__close-btn {
  padding: 0 !important;
  display: none;
  background: none;
  border: none;
  color: $light-text-color;
  cursor: pointer;

  &:hover {
    color: $danger-color;
  }
}

.oh-general__tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  align-content: center;
}

.oh-general__tab {
  margin-right: 1rem;
  flex-grow: 1;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 575.98px) {
    margin-bottom: 1rem;
  }
}

.oh-general__tab-link {
  color: $light-text-color;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.75rem;
  @include oh-transition;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  @media (max-width: 575.98px) {
    padding: 0.5rem 0.75rem;
    border-bottom: none;
  }
}

.oh-general__tab-link--active {
  color: $text-color;
  border-bottom: 2px solid $secondary-color;
  font-weight: 600;

  @media (max-width: 575.98px) {
    border-bottom: none;
    background-color: rgba($secondary-color, 0.1);
    color: $secondary-color;
    border-radius: 6px;
  }
}

.oh-profile-section__tab {
  width: 100%;
  justify-content: space-between;
}

.oh-general__tabs--no-grow {
  justify-content: flex-start;
}

.oh-general__tabs--no-grow > * {
  flex-grow: 0;
}

.oh-general__tabs--profile {
  li {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 575.98px) {
    li {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.oh-tabs__movable {
  border: 1px solid $border-color;
  background-color: $brand-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .oh-tabs__movable-header {
      background-color: $brand-color-light;
    }
  }
}

.oh-tabs__movable-header {
  padding: 0.3rem 0.75rem;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  @include oh-transition;
}

.oh-tabs__movable-header--w-80 {
  width: 80%;
  position: relative;
  &:after {
    content: "";
    bottom: -1px;
    position: absolute;
    border-bottom: 1px solid $border-color;
    left: 100%;
    width: 25%;
  }
}

.oh-tabs__movable-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: $text-color;
  @media (max-width: 575.98px) {
    font-size: 1rem;
    max-width: 200px;
  }
}

.oh-tabs__movable-body {
  padding: 1.25rem;
}

.oh-tabs__action-bar {
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.8rem;
  margin-bottom: 1.25rem;
}

.oh-tabs__movable-close {
  background-color: transparent;
  border: none;
  color: $light-text-color;
  cursor: pointer;

  &:hover {
    color: $danger-color;
  }
}

.oh-tabs__movable {
  &:only-child {
    .oh-tabs__movable-close {
      display: none;
    }
  }
}

.oh-tabs__movable:nth-child(1):nth-last-child(2) {
  .oh-tabs__movable-close {
    display: none;
  }
}

.oh-tabs__table-group-header {
  margin-bottom: 1rem;
}

.oh-tabs__table-group {
  margin-top: 1.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.oh-tabs__table-group-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: $text-color;
}

.oh-sticky-table--no-overflow {
  overflow-x: auto;
  overflow-y: unset !important;
}

.oh-sticky-table__dropdown {
  z-index: 9;
}

.oh-tabs__view-buttons {
  display: flex;
  width: 150px;
  & .tab-btn {
    flex: 1;
    padding: 8px;
    background-color: $brand-color-dark;
    cursor: pointer;
    border: 1px solid $border-color;
    border-bottom: none;
    outline: none;
    text-align: center;
    color: $light-text-color;
    @include oh-transition;

    &:first-child {
      border-right: none !important;
    }
    span {
      opacity: 0.5;
    }

    &:hover {
      background-color: $brand-color-light;
    }
  }
  & .tab-btn.active {
    background: rgba($secondary-color, 0.1);
    border: 1px solid $border-color;
    border-bottom: none;
    color: $text-color;
    span {
      opacity: 1;
    }
  }
}

.oh-tabs__view {
  display: none;
  &.active {
    display: block;
  }
}
