.oh-filter-tag-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.oh-filter-tag {
  position: relative;
  background-color: $brand-color-dark;
  color: $text-color;
  border-radius: 25px;
  border: 1px solid $border-color;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include oh-transition;

  &:hover {
    border-color: $secondary-color;
    .oh-filter-tag__close {
      color: $secondary-color;

      &::before {
        background-color: $secondary-color;
      }
    }
  }
}

.oh-filter-tag__close {
  background-color: transparent;
  color: $light-text-color;
  padding: 0;
  margin-left: 0.75rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @include oh-transition;

  &::before {
    content: "";
    width: 0.5px;
    position: relative;
    left: -3px;
    height: 27px;
    background-color: $border-color;
    @include oh-transition;
  }

  &:hover {
    color: $secondary-color;
  }
}

.oh-titlebar-container__filters {
  margin-top: 1.5rem;
  gap: 0.75rem;
}

.oh-titlebar__tag {
  display: inline-block;
  background-color: $brand-color-dark;
  color: $text-color;
  border-radius: 25px;
  font-size: 0.85rem;
  padding: 0.25rem 0.75rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-color;
  @include oh-transition;

  &:hover {
    background-color: $brand-color-light;
  }
}

.oh-titlebar__tag-close {
  background-color: $secondary-color;
  color: $black;
  width: 16px;
  height: 16px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 0.75rem;

  &:hover {
    background-color: $secondary-color-dark;
  }
}

.oh-titlebar__save {
  background-color: $success-color;
  border: 1px solid $success-color-dark;
  border-radius: 25px;
  font-size: 0.85rem;
  padding: 0.25rem 0.75rem;
  color: $white;
  display: flex;
  align-items: center;
  gap: 2px;

  &:hover {
    background-color: $success-color-dark;
  }
}
