.oh-timeoff-card {
  display: flex;
  align-items: center;

  @media (max-width: 991.98px) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.oh-timeoff-card__icon-container {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $brand-color-light;
  margin-right: 1.5rem;
}

.oh-timeoff-card__icon {
  color: $secondary-color;
  font-size: 2rem;
}

.oh-timeoff-card__title {
  display: block;
  font-weight: bold;
  font-size: 1.15rem;
  width: 100%;
  color: $text-color;
}

.oh-timeoff-card__stat-container,
.oh-timeoff-modal__stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.35rem;
}

.oh-timeoff-card__stat,
.oh-timeoff-modal__stat {
  margin-right: 1.75rem;

  &:last-child {
    margin-right: 0;
  }
}

.oh-timeoff-card__stat-title,
.oh-timeoff-modal__stat-title {
  display: block;
  font-size: 0.8rem;
  color: $light-text-color;
  margin-bottom: 0.25rem;
}

.oh-timeoff-card__stat-count {
  font-size: 1.05rem;
  font-weight: bold;
  color: $text-color;
}

.oh-timeoff-modal__download-link {
  width: 100%;
  background: $brand-color-dark;
  padding: 1rem;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  color: $light-text-color;
  border-radius: 6px;
  border: 1px solid $border-color;
  @include oh-transition;

  &:hover,
  &:focus,
  &:focus-visible {
    text-decoration: none;
    background-color: $brand-color-light;
    color: $text-color;
  }
}

.oh-timeoff-modal__profile-content {
  .oh-profile__image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
  }
}

.oh-timeoff__date-container {
  display: flex;
  align-items: center;

  input {
    &:first-child {
      border-right: 0;
    }
  }
}

.oh-timeoff-modal__stats-container {
  width: 100%;
}

.oh-timeoff-modal__profile-content {
  margin-bottom: 1rem;
  width: 100%;
}

.oh-timeoff-modal__profile-info {
  display: flex;
  flex-direction: column;
}

.oh-timeoff-modal__stat-count {
  font-size: 0.9rem;
  color: $text-color;
}

.oh-timeoff-modal__stat-description {
  overflow-y: auto;
  max-height: 100px;
  color: $light-text-color;
}

.oh-timeoff-modal__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  gap: 0.5rem;
}

.oh-timeoff-modal__footer > * {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.oh-timeoff-modal__user {
  font-size: 1.2rem;
  margin-top: 0.75rem;
  color: $text-color;
}

.oh-timeoff-modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oh-timeoff-modal__position {
  color: $light-text-color;
}

.oh-modal__dialog-relative {
  position: relative;
}

.oh-modal__diaglog-nav {
  width: 2rem;
  height: 2rem;
  background: $brand-color-dark;
  border-radius: 50px;
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  @include oh-transition;

  &:hover {
    background: $brand-color-light;
  }
}

.oh-modal__nav-prev {
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translate(50%, -50%);
}

.oh-modal__nav-next {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translate(50%, -50%);
}
