.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ml-2 { margin-left: 0.7rem; }
.mr-2 { margin-right: 0.7rem; }
.mr-1 { margin-right: 0.3rem; }
.ml-1 { margin-left: 0.3rem; }
.mt-4 { margin-top: 2rem; }
.max-h-0 { max-height: 0; }

.oh-mb-3--small {
  @media (max-width: 767.98px) {
    margin-bottom: 1.5rem;
  }
}

.d-md-flex-wrap {
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
  }
}

.oh-d-flex-column--resp {
  @media (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }
}
