{% load i18n %}
{% if perms.base.change_currencysetting %}
<div class="oh-inner-sidebar-content__header mt-4">
    <h2 class="oh-inner-sidebar-content__title">{% trans "Currency" %}</h2>
</div>
<form hx-post="{% url 'general-settings' %}" class="settings-label mb-1" hx-swap="none"
      hx-on-htmx-after-request="setTimeout(() => { reloadMessage(); }, 100);">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="oh-input-group">
                <div class="oh-label__info" for="currency_symbol">
                    <label class="oh-label" for="currency_symbol">{% trans "Currency Symbol" %}</label>
                </div>
                <input type="text" name="currency_symbol" value="{{ currency_form.instance.currency_symbol }}" maxlength="5" class="oh-input w-100" placeholder="{% trans 'Currency Symbol' %}" required="" id="id_currency_symbol">
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="oh-input-group">
                <div class="oh-label__info" for="position">
                    <label class="oh-label" for="position">{% trans "Position" %}</label>
                </div>
                <span class="select2-selection--multiple w-25">{{ currency_form.position }}</span>
            </div>
        </div>
        <div class="d-flex align-items-end col-sm-12 col-md-12 col-lg-3">
            <button type="submit" class="oh-btn oh-btn--secondary mt-2 mr-0 oh-btn--w-100-resp">{% trans 'Save Changes' %}</button>
        </div>
    </div>
    <div class="oh-inner-sidebar-content__footer"></div>
</form>
{% endif %}
